/** custom css **/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    background-color: #202124;
}

img.post-cover {
    display: none;
}

.post .post-content p {
    line-height: 1.7777778;
    letter-spacing: -0.025em;
}

.post .post-content a {
    color: var(--accent);
}

.headings--one-size h1:not(first-child), .headings--one-size h2:not(first-child), .headings--one-size h3:not(first-child), .headings--one-size h4:not(first-child), .headings--one-size h5:not(first-child), .headings--one-size h6:not(first-child) {
    margin-top: 15px;
}