<script>
    window.onload = function(){
        let anchors = document.getElementsByTagName('a');
        let hostname = window.location.hostname;
        for (let i = 0; i < anchors.length; i++){
            if (anchors[i].href.includes(hostname)) {
                continue;
            }
            anchors[i].setAttribute('target', '_blank');
        }
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WG95JRMMET"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WG95JRMMET');
</script>